body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  margin: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  width: 300px;
  margin: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
